Q1. Create one variable containing following type of data:
    (i) string
    (ii) list
    (iii) float
    (iv) tuple

In [1]:
var_1 = "Hello Mukul"
list_1 = [1702719,'Hello',3+7j,21.232,714482]
var_2 = 12341.31
mytuple = (14,4232,'fefeg')

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
print(var_1)
print(list_1)
print(var_2)
print(mytuple)

Hello Mukul
[1702719, 'Hello', (3+7j), 21.232, 714482]
12341.31
(14, 4232, 'fefeg')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [8]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML', 'Python' ] 
var4 = 1

In [9]:
type(var1)
type(var2)
type(var3)
type(var4)

str

str

list

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [10]:
a=9
b=2

# Divide operator
print(a/b)

#reminder/modulus operator
print(a%b)

# // --> it will give floor value of quoitent
print(a//b)

# ** --> power operator
print(a**b)

4.5
1
4
81

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
l1 = [1213,'Hello',21314,1413.2424,True,3+7j,12131,225.3546,[134,43535,46464],False]
len(l1)

10

In [14]:
for i in l1:
    print(i)
    print(type(i))
    print()

1213
<class 'int'>

Hello
<class 'str'>

21314
<class 'int'>

1413.2424
<class 'float'>

True
<class 'bool'>

(3+7j)
<class 'complex'>

12131
<class 'int'>

225.3546
<class 'float'>

[134, 43535, 46464]
<class 'list'>

False
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [24]:
# print("Enter number A")
a=int(input("Enter number A"))
b=int(input("Enter number B"))

#Counter to check 
count=0

if b == 0:
        print("it will give division by zero error")
else:
    while a%b == 0 :
        count += 1
        a = a/b
    
if count == 0:
    print("it cannot be divisible by number " + str(b))
else:
    print("count is -- " + str(count))

Enter number A 48
Enter number B 2

count is -- 4

Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [30]:
l1 = list(range(25))
print(l1)
print()
for i in l1:
    if i%3 == 0:
        print (str(i) + " divisible by 3")
        print()
    else:
        print (str(i) + " is not divisible by 3")
        print()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

0 divisible by 3

1 is not divisible by 3

2 is not divisible by 3

3 divisible by 3

4 is not divisible by 3

5 is not divisible by 3

6 divisible by 3

7 is not divisible by 3

8 is not divisible by 3

9 divisible by 3

10 is not divisible by 3

11 is not divisible by 3

12 divisible by 3

13 is not divisible by 3

14 is not divisible by 3

15 divisible by 3

16 is not divisible by 3

17 is not divisible by 3

18 divisible by 3

19 is not divisible by 3

20 is not divisible by 3

21 divisible by 3

22 is not divisible by 3

23 is not divisible by 3

24 divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [33]:
str1 = "MYWAY"
list1 = [1,2,'Hello']
print(str1)
print()
print(list1)

MYWAY

[1, 2, 'Hello']

In [36]:
list1[2]="Mukul"
print(list1)
list1.append(1414)
print(list1)

#Here above we can see that we can change the index values of list  means list is mutable object

[1, 2, 'Mukul', 1414, 1414]
[1, 2, 'Mukul', 1414, 1414, 1414]

In [37]:
print(str)
print(str1[1])
str[1]='A'

<class 'str'>
Y

TypeError: 'type' object does not support item assignment

In [ ]:
#Here in above output we can see tha