Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
# Single line Comments

"""Multi - line comments starts with triple double quotes and ends with triple double quotes
we can assign multi line comments to variable then we can use that variable as string"""

'Multi - line comments starts with triple double quotes and ends with triple double quotes\nwe can assign multi line comments to variable then we can use that variable as string'

In [2]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [5]:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#variables are just like containers which we can use to store different type of data in it 
# dpeneding on type of data it stored , type of variable is decided

var_1 =3
var_2=12.3
var_3=False
var_4=23+32j

print(var_1)
print(var_2)
print(var_3)
print(var_4)

type(var_1)
type(var_2)
type(var_3)
type(var_4)

3
12.3
False
(23+32j)

int

float

bool

complex

Q3.How do you convert one data type to another in Python?

In [6]:
#converting a one data type into other data type is called typecasting

a = 3
type(3)

a = str(2) #converting a int data type to string data type
type(a)

int

str

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [11]:
my_list = [1, 2, 3, 4, 5]

my_list

#first way
sub_list1 = my_list[1:3]
sub_list1
sub_list2 = my_list[my_list.index(2):my_list.index(3)+1]

sub_list2

[1, 2, 3, 4, 5]

[2, 3]

[2, 3]

Q6.What is a complex number in mathematics, and how is it represented in Python?

In [12]:
# complex number is a number which has real part as well as imaginary part 
c= 2+3j
c
type(c)

(2+3j)

complex

Q7.What is the correct way to declare a variable named age and assign the value 25 to it?

In [13]:
# assignign value to age varible manually
age=25
age

#taking input from user for age variable
age=int(input("Please Enter your age : "))
print(f"your age is {age}")

25

Please Enter your age :  25

your age is 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [14]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [15]:
name = "Mukul Garg"
print(name) #one way

print()

name #second way

Mukul Garg

'Mukul Garg'

Q10. Given the string "Hello, World!", extract the substring "World".

In [16]:
s = "Hello, World!"
s

'Hello, World!'

In [17]:
s.find('World')

7

In [18]:
start = s.find('World')
start
end = s.find('World')+ len('World')
end

7

12

In [20]:
s[start:end]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [21]:
is_student = True

if is_student == True :
    print("You're cuurently a student")
else:
    print("You're cuurently not a student")

You're cuurently a student

Q4. How do you write and execute a Python script from the command line?

In [1]:
#we execute a python code in jupyter notebook using shift+ enter
"""In order to execute python code in the terminal , first we need to download and install python executable on our system 
then we can put our code inside text file and name it with .py extension (example - my_file.py)
then use below command to execute python code
python file_name
ex -- python my_file.py
"""

'In order to execute python code in the terminal , first we need to download and install python executable on our system \nthen we can put our code inside text file and name it with .py extension (example - my_file.py)\nthen use below command to execute python code\npython file_name\nex -- python my_file.py\n'